{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}

{% block head %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}
{% block navbar %}
 <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">HOME</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('signin') }}">Login</a></li>
              <li><a href="{{ url_for('post_event') }}">POST EVENT</a></li>
    </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}	
<div class="container-fluid bg-2 ">
<div class = form>
<form action="{{ url_for('signin') }}" method=post>
  {{ form.csrf_token }}

  <legend><h3>Login</h3></legend>

  {% if form.errors %}
      <ul class="errors">
          {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors %}
                  <li>{{ form[field_name].label }}: {{ error }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
  {% endif %}

  <div class="form-group">
    {{ form.email.label() }}
    {{ form.email(class='form-control', type='textinput') }}
    
  </div>

  <div class="form-group">
    {{ form.password.label() }}
    {{ form.password(class='form-control', type='textinput') }}
    
  </div>
 
<button type="submit" class="btn btn-primary">Login</button>
</form>
<h1>OR</h1>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

<!-- GOOGLE PLUS SIGN IN-->
<div id="signInButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="705598715775-70da9354c38b1ji0bnuevjgqsds49snm.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/google";
         }, 4000);
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }
</script>
</div>
</div>

{% endblock %}
				



