<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
<title>Free Events Club Website</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
      <div class="header">
		     <div class="header_top">
		     	<div class="wrap">
				 <div class="logo">
					 <a href="index.html"><img src="/static/images/logo.png" alt="" /></a>
					 </div>
				  <div class="menu">
					<ul>
						<li><a href="{{ url_for('index') }}">HOME</a></li>
				    	
				    	<li><a href="{{ url_for('events') }}">EVENTS</a></li>
				    	
				    	<li class="active">><a href="{{ url_for('signin') }}">LOGIN</a></li>
				    	<li><a href="{{ url_for('signup') }}">REGISTER</a></li>
				    	<li><a href="{{ url_for('post_event') }}">POST EVENT</a></li>
				    	
				    	<div class="clear"></div>
				    </ul>				    
				 </div>
			     <div class="clear"></div>
		      </div>		   
		  </div>
  </div>
     <div class="main">
     	<div class="wrap">
     	    <div class="content_top">
     	    	<div class="contact">        	
	        		<div class="section group">
				<div class="col_1_of_3 contact_1_of_3">
					<div class="contact-form">
				  	
				 <h1>LOGIN</h1>
 
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('signin') }}" method=post>
    {{ form.hidden_tag() }}
     
    {{ form.email.label }}
    {{ form.email }}
     
    {{ form.password.label }}
    {{ form.password }}
     
    {{ form.submit }}
  </form>
				  </div>
				</div>
				
     
    <div class="copy">
    	<p>© 2016 Rights Reseverd</p>
    </div>
</body>
</html>

