{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}

{% block head %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
  <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

      <!-- Javascript -->
      <script>
         $(function() {
            $( "#datepicker-13" ).datepicker();
            $( "#datepicker-13" ).datepicker("show");
         });
      </script>
{% endblock %}
{% block navbar %}
 <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">HOME</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
              
              {% if 'email' in session %}
             
             <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
          {% else %}
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('signin') }}">Sign In</a></li>
          {% endif %}
        </ul>
    </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %} 
<div class="container-fluid bg-2 ">
<div class = form>
<form action="{{ url_for('post_event') }}" method=post>
  {{ form.csrf_token }}

  <legend><h3>Add Your Event</h3></legend>

  {% if form.errors %}
      <ul class="errors">
          {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors %}
                  <li>{{ form[field_name].label }}: {{ error }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
  {% endif %}

  <div class="form-group">
    {{ form.name.label() }}
    {{ form.name(class='form-control', type='textinput') }}
    
  </div>

  <div class="form-group">
    {{ form.location.label() }}
    {{ form.location(class='form-control', type='textinput') }}
    
  </div>
  
  <div class="form-group">
    {{ form.date.label() }}
    {{ form.date(class='form-control', id='datepicker-13') }} 

    
  </div>

  <div class="form-group">
    {{ form.description.label() }}
    {{ form.description(class='form-control', type='textarea' ) }}
    
  </div>
 <button type="submit" class="btn btn-primary">Add Event</button>
</form>
</div>
</div>


{% endblock %}
        




